<!DOCTYPE html>
<html lang=’es’>
    <head>
        <title>Noticias</title>
        <meta charset=’utf-8’>
    </head>

    <body>
        <center><h1>Noticias</h1></center>
    {% for elemento in lista %}
    <ul>
        <h3>
        <strong><a href=noticia/{{elemento.id}}>{{elemento.titulo}}<a></strong> 
        <div align='right''>Por: {{elemento.usuario}}. {{elemento.fecha}}</div>
        </h3>
    {% comment %}<li>{{elemento.texto}}</li> {% endcomment %}
    </ul>
    <br>
    {% endfor %}
    </body>
</html>
